mat-card-content{
  padding-top: 40px;
  padding-left:60px;
  padding-right: 60px;
  flex-grow:1;
}
mat-toolbar{
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 20px;
  font-size: 1.6rem;
}
mat-card
{
padding-top: 10px;
width: 500px;
height: 760px;
margin: auto;
overflow: hidden;
border-radius: 20px;
}
span{
  text-align: center;
  display: inline-block;
  width: 100%;
}
mat-form-field{
  width: 100%;
}
.mat-toolbar.mat-primary{
  color: white  !important;
  background:#002B5C !important;
}


