

  <mat-card class="mat-card">
    <mat-toolbar color="primary">
      <span><mat-icon>eco</mat-icon>Login</span>
      <div class="spacer"></div>
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="loginform">
        <mat-form-field class="login-form"  appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="Username" placeholder="please enter username" required="">
          <mat-error *ngIf="!loginform.get('Username').valid && loginform.get('Username').touched">
            Username is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="login-form" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="Password" placeholder="please enter paassword" required="">
          <mat-error *ngIf="!loginform.get('Password').valid && loginform.get('Password').touched">
            Password is required
            </mat-error>
        </mat-form-field>
        <button class="login-button" mat-raised-button color="primary" [disabled]="!loginform.valid" (click)="onSubmit()">Login</button>
      </form>
      <mat-card-footer>
        <p class="">Not a member yet?  <button mat-button color="primary"  (click)="OpenPopup()">SignUp</button></p>
    </mat-card-footer>
    </mat-card-content>
  </mat-card>
